@import url('../node_modules//antd/dist/antd.dark.css');
@import url('./assets/iconfont/iconfont.css');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.text-beyond-hidden {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis !important;
}

/* flex start */
.is-flex{
  display: flex;
}

.spacer {
  flex-grow: 1 !important;
}

.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
/* flex end */